# Development stuff
.python-version
tags
GRTAGS
GTAGS
GPATH
cscope.out
*.swp
*.pyc
library.db-journal

public
tmp
library.db
bower_components
node_modules
library.db
cscope.*
static/scripts/libs/
.jshintrc